In [14]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

data = pd.read_csv('cs-training.csv').drop('Unnamed: 0', axis=1)

# Remove rows win NaN values
data = data.dropna()

data.head()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>SeriousDlqin2yrs</th>
      <th>RevolvingUtilizationOfUnsecuredLines</th>
      <th>age</th>
      <th>NumberOfTime30-59DaysPastDueNotWorse</th>
      <th>DebtRatio</th>
      <th>MonthlyIncome</th>
      <th>NumberOfOpenCreditLinesAndLoans</th>
      <th>NumberOfTimes90DaysLate</th>
      <th>NumberRealEstateLoansOrLines</th>
      <th>NumberOfTime60-89DaysPastDueNotWorse</th>
      <th>NumberOfDependents</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>0.766127</td>
      <td>45</td>
      <td>2</td>
      <td>0.802982</td>
      <td>9120.0</td>
      <td>13</td>
      <td>0</td>
      <td>6</td>
      <td>0</td>
      <td>2.0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>0</td>
      <td>0.957151</td>
      <td>40</td>
      <td>0</td>
      <td>0.121876</td>
      <td>2600.0</td>
      <td>4</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0</td>
      <td>0.658180</td>
      <td>38</td>
      <td>1</td>
      <td>0.085113</td>
      <td>3042.0</td>
      <td>2</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>0</td>
      <td>0.233810</td>
      <td>30</td>
      <td>0</td>
      <td>0.036050</td>
      <td>3300.0</td>
      <td>5</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>0</td>
      <td>0.907239</td>
      <td>49</td>
      <td>1</td>
      <td>0.024926</td>
      <td>63588.0</td>
      <td>7</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
  </tbody>
</table>
</div>

In [5]:
type(data)

pandas.core.frame.DataFrame

## Initial exploration

### Data dictionary

* **SeriousDlqin2yrs**: Person experienced 90 days past due delinquency or worse

* **RevolvingUtilizationOfUnsecuredLines**: Total balance on credit cards and personal lines of credit except real estate and no installment debt like car loans divided by the sum of credit limits

* **age**: Age of borrower in years

* **NumberOfTime30-59DaysPastDueNotWorse**: Number of times borrower has been 30-59 days past due but no worse in the last 2 years.

* **DebtRatio**: Monthly debt payments, alimony,living costs divided by monthy gross income

* **MonthlyIncome**: Monthly income

* **NumberOfOpenCreditLinesAndLoans**: Number of Open loans (installment like car loan or mortgage) and Lines of credit (e.g. credit cards)

* **NumberOfTimes90DaysLate**: Number of times borrower has been 90 days or more past due.

* **NumberRealEstateLoansOrLines**: Number of mortgage and real estate loans including home equity lines of credit

* **NumberOfTime60-89DaysPastDueNotWorse**: Number of times borrower has been 60-89 days past due but no worse in the last 2 years.

* **NumberOfDependents**: Number of dependents in family excluding themselves (spouse, children etc.)

In [6]:
# Calculate number of samples
n_samples = data.shape[0]

# Calculate number of features
n_features = data.shape[1] - 1

# Calculate positive cases
n_positive = data[data.SeriousDlqin2yrs == 1].shape[0]

# TODO: Calculate failing students
n_negative = data[data.SeriousDlqin2yrs == 0].shape[0]

# TODO: Calculate positive rate
positive_rate = 100 * (n_positive / float(n_samples))

# Print the results
print "Total number of samples: {}".format(n_samples)
print "Number of features: {}".format(n_features)
print "Number of positives: {}".format(n_positive)
print "Number of negatives: {}".format(n_negative)
print "Positive rate: {:.2f}%".format(positive_rate)

Total number of samples: 120269
Number of features: 10
Number of positives: 8357
Number of negatives: 111912
Positive rate: 6.95%

In [7]:
y_all = data['SeriousDlqin2yrs']
X_all = data.drop('SeriousDlqin2yrs', axis=1)

print
print type(X_all)
print
print type(y_all)

# # Extract feature columns
# feature_cols = list(data.columns[1:])
# 
# # Extract target column 'SeriousDlqin2yrs'
# target_col = data.columns[0]
# 
# # Show the list of columns
# print "Feature columns:\n{}".format(feature_cols)
# print "\nTarget column: {}".format(target_col)
# 
# # Separate the data into feature data and target data (X_all and y_all, respectively)
# X_all = data[feature_cols]
# y_all = data[target_col]
# 
# print
# print type(X_all)
# print
# print type(y_all)

<class 'pandas.core.frame.DataFrame'>

<class 'pandas.core.series.Series'>

In [8]:
from sklearn.cross_validation import train_test_split

# TODO: Shuffle and split the data into training and testing subsets
X_train, X_test, y_train, y_test = train_test_split(X_all, y_all, test_size=0.40, random_state=9)

# Success
print "Training and testing split was successful."

Training and testing split was successful.

In [9]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier()

# train set
clf = clf.fit(X_train, y_train)
print clf.score(X_train, y_train)

# test set
print clf.score(X_test, y_test)

0.990410332451
0.930177932984

In [42]:
real_data = pd.read_csv('cs-test.csv').drop('Unnamed: 0', axis=1)

real_X_all = real_data.drop('SeriousDlqin2yrs', axis=1)

print "Data loaded!"

Data loaded!

In [43]:
real_X_all

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>RevolvingUtilizationOfUnsecuredLines</th>
      <th>age</th>
      <th>NumberOfTime30-59DaysPastDueNotWorse</th>
      <th>DebtRatio</th>
      <th>MonthlyIncome</th>
      <th>NumberOfOpenCreditLinesAndLoans</th>
      <th>NumberOfTimes90DaysLate</th>
      <th>NumberRealEstateLoansOrLines</th>
      <th>NumberOfTime60-89DaysPastDueNotWorse</th>
      <th>NumberOfDependents</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0.885519</td>
      <td>43</td>
      <td>0</td>
      <td>0.177513</td>
      <td>5700.0</td>
      <td>4</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>0.463295</td>
      <td>57</td>
      <td>0</td>
      <td>0.527237</td>
      <td>9141.0</td>
      <td>15</td>
      <td>0</td>
      <td>4</td>
      <td>0</td>
      <td>2.0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0.043275</td>
      <td>59</td>
      <td>0</td>
      <td>0.687648</td>
      <td>5083.0</td>
      <td>12</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>2.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>0.280308</td>
      <td>38</td>
      <td>1</td>
      <td>0.925961</td>
      <td>3200.0</td>
      <td>7</td>
      <td>0</td>
      <td>2</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1.000000</td>
      <td>27</td>
      <td>0</td>
      <td>0.019917</td>
      <td>3865.0</td>
      <td>4</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>5</th>
      <td>0.509791</td>
      <td>63</td>
      <td>0</td>
      <td>0.342429</td>
      <td>4140.0</td>
      <td>4</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>6</th>
      <td>0.587778</td>
      <td>50</td>
      <td>0</td>
      <td>1048.000000</td>
      <td>0.0</td>
      <td>5</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>3.0</td>
    </tr>
    <tr>
      <th>7</th>
      <td>0.046149</td>
      <td>79</td>
      <td>1</td>
      <td>0.369170</td>
      <td>3301.0</td>
      <td>8</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>8</th>
      <td>0.013527</td>
      <td>68</td>
      <td>0</td>
      <td>2024.000000</td>
      <td>NaN</td>
      <td>4</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>9</th>
      <td>1.000000</td>
      <td>23</td>
      <td>98</td>
      <td>0.000000</td>
      <td>0.0</td>
      <td>0</td>
      <td>98</td>
      <td>0</td>
      <td>98</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>10</th>
      <td>0.028485</td>
      <td>37</td>
      <td>0</td>
      <td>0.319687</td>
      <td>7400.0</td>
      <td>8</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>11</th>
      <td>0.085077</td>
      <td>52</td>
      <td>0</td>
      <td>0.903552</td>
      <td>4250.0</td>
      <td>6</td>
      <td>0</td>
      <td>2</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>12</th>
      <td>0.010596</td>
      <td>68</td>
      <td>0</td>
      <td>0.007782</td>
      <td>3854.0</td>
      <td>16</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>13</th>
      <td>0.380679</td>
      <td>30</td>
      <td>0</td>
      <td>0.377449</td>
      <td>2500.0</td>
      <td>12</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>14</th>
      <td>0.556894</td>
      <td>56</td>
      <td>0</td>
      <td>0.697347</td>
      <td>6822.0</td>
      <td>14</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>15</th>
      <td>0.079056</td>
      <td>28</td>
      <td>0</td>
      <td>0.105831</td>
      <td>7133.0</td>
      <td>8</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>16</th>
      <td>0.543013</td>
      <td>72</td>
      <td>0</td>
      <td>0.461786</td>
      <td>5900.0</td>
      <td>10</td>
      <td>0</td>
      <td>2</td>
      <td>0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>17</th>
      <td>0.112346</td>
      <td>37</td>
      <td>0</td>
      <td>0.144326</td>
      <td>2916.0</td>
      <td>7</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>18</th>
      <td>0.648285</td>
      <td>29</td>
      <td>0</td>
      <td>0.174850</td>
      <td>4500.0</td>
      <td>4</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>19</th>
      <td>0.686406</td>
      <td>43</td>
      <td>0</td>
      <td>487.000000</td>
      <td>NaN</td>
      <td>10</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>20</th>
      <td>0.085910</td>
      <td>48</td>
      <td>0</td>
      <td>0.196156</td>
      <td>8844.0</td>
      <td>8</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>21</th>
      <td>0.158549</td>
      <td>61</td>
      <td>0</td>
      <td>0.353158</td>
      <td>11920.0</td>
      <td>13</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>22</th>
      <td>0.009303</td>
      <td>69</td>
      <td>0</td>
      <td>0.384451</td>
      <td>6083.0</td>
      <td>4</td>
      <td>0</td>
      <td>2</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>23</th>
      <td>0.957442</td>
      <td>69</td>
      <td>2</td>
      <td>0.666338</td>
      <td>3041.0</td>
      <td>8</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>24</th>
      <td>0.442489</td>
      <td>50</td>
      <td>1</td>
      <td>0.286555</td>
      <td>8500.0</td>
      <td>17</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>2.0</td>
    </tr>
    <tr>
      <th>25</th>
      <td>0.125267</td>
      <td>51</td>
      <td>0</td>
      <td>3825.000000</td>
      <td>NaN</td>
      <td>10</td>
      <td>0</td>
      <td>2</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>26</th>
      <td>1.000000</td>
      <td>45</td>
      <td>0</td>
      <td>0.000000</td>
      <td>4750.0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>27</th>
      <td>0.181481</td>
      <td>67</td>
      <td>0</td>
      <td>1509.000000</td>
      <td>NaN</td>
      <td>12</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>28</th>
      <td>0.729397</td>
      <td>34</td>
      <td>0</td>
      <td>0.335555</td>
      <td>7500.0</td>
      <td>6</td>
      <td>0</td>
      <td>2</td>
      <td>0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>29</th>
      <td>0.024445</td>
      <td>47</td>
      <td>0</td>
      <td>5810.000000</td>
      <td>NaN</td>
      <td>20</td>
      <td>0</td>
      <td>2</td>
      <td>0</td>
      <td>2.0</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>101473</th>
      <td>0.662634</td>
      <td>73</td>
      <td>0</td>
      <td>0.277090</td>
      <td>5333.0</td>
      <td>10</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>101474</th>
      <td>1.032484</td>
      <td>47</td>
      <td>0</td>
      <td>0.365243</td>
      <td>2036.0</td>
      <td>2</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>101475</th>
      <td>1.000000</td>
      <td>35</td>
      <td>0</td>
      <td>0.240467</td>
      <td>1284.0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>2.0</td>
    </tr>
    <tr>
      <th>101476</th>
      <td>0.015908</td>
      <td>68</td>
      <td>0</td>
      <td>0.217593</td>
      <td>8400.0</td>
      <td>11</td>
      <td>0</td>
      <td>2</td>
      <td>0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>101477</th>
      <td>0.096295</td>
      <td>69</td>
      <td>0</td>
      <td>0.052316</td>
      <td>3000.0</td>
      <td>4</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>101478</th>
      <td>0.000000</td>
      <td>43</td>
      <td>0</td>
      <td>0.095303</td>
      <td>5833.0</td>
      <td>6</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>2.0</td>
    </tr>
    <tr>
      <th>101479</th>
      <td>0.024788</td>
      <td>71</td>
      <td>0</td>
      <td>0.361319</td>
      <td>3608.0</td>
      <td>22</td>
      <td>1</td>
      <td>2</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>101480</th>
      <td>0.217134</td>
      <td>48</td>
      <td>0</td>
      <td>0.602701</td>
      <td>5257.0</td>
      <td>15</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>101481</th>
      <td>0.048971</td>
      <td>51</td>
      <td>0</td>
      <td>0.339154</td>
      <td>7043.0</td>
      <td>14</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>2.0</td>
    </tr>
    <tr>
      <th>101482</th>
      <td>1.000000</td>
      <td>33</td>
      <td>98</td>
      <td>0.000000</td>
      <td>2000.0</td>
      <td>0</td>
      <td>98</td>
      <td>0</td>
      <td>98</td>
      <td>3.0</td>
    </tr>
    <tr>
      <th>101483</th>
      <td>0.124484</td>
      <td>82</td>
      <td>0</td>
      <td>0.003797</td>
      <td>7636.0</td>
      <td>2</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>101484</th>
      <td>0.065636</td>
      <td>60</td>
      <td>0</td>
      <td>0.306759</td>
      <td>7500.0</td>
      <td>10</td>
      <td>0</td>
      <td>3</td>
      <td>0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>101485</th>
      <td>0.043139</td>
      <td>81</td>
      <td>0</td>
      <td>0.014548</td>
      <td>3917.0</td>
      <td>4</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>101486</th>
      <td>0.078280</td>
      <td>55</td>
      <td>0</td>
      <td>0.495979</td>
      <td>2983.0</td>
      <td>16</td>
      <td>0</td>
      <td>2</td>
      <td>0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>101487</th>
      <td>0.000961</td>
      <td>64</td>
      <td>0</td>
      <td>2.000000</td>
      <td>NaN</td>
      <td>5</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>101488</th>
      <td>0.179587</td>
      <td>68</td>
      <td>0</td>
      <td>0.268839</td>
      <td>7550.0</td>
      <td>8</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>101489</th>
      <td>1.031359</td>
      <td>34</td>
      <td>0</td>
      <td>0.305339</td>
      <td>3333.0</td>
      <td>6</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>101490</th>
      <td>0.875649</td>
      <td>43</td>
      <td>2</td>
      <td>0.512893</td>
      <td>9500.0</td>
      <td>8</td>
      <td>0</td>
      <td>5</td>
      <td>0</td>
      <td>2.0</td>
    </tr>
    <tr>
      <th>101491</th>
      <td>0.228665</td>
      <td>44</td>
      <td>1</td>
      <td>0.080143</td>
      <td>8958.0</td>
      <td>6</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>101492</th>
      <td>0.139191</td>
      <td>58</td>
      <td>1</td>
      <td>3.183267</td>
      <td>501.0</td>
      <td>11</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>3.0</td>
    </tr>
    <tr>
      <th>101493</th>
      <td>0.035549</td>
      <td>58</td>
      <td>0</td>
      <td>0.290323</td>
      <td>11128.0</td>
      <td>7</td>
      <td>0</td>
      <td>2</td>
      <td>0</td>
      <td>2.0</td>
    </tr>
    <tr>
      <th>101494</th>
      <td>0.218356</td>
      <td>56</td>
      <td>0</td>
      <td>0.295803</td>
      <td>1500.0</td>
      <td>3</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>101495</th>
      <td>0.718874</td>
      <td>35</td>
      <td>1</td>
      <td>0.308047</td>
      <td>4125.0</td>
      <td>8</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>2.0</td>
    </tr>
    <tr>
      <th>101496</th>
      <td>0.021654</td>
      <td>78</td>
      <td>0</td>
      <td>18.000000</td>
      <td>NaN</td>
      <td>8</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>101497</th>
      <td>0.045230</td>
      <td>67</td>
      <td>0</td>
      <td>0.012198</td>
      <td>5000.0</td>
      <td>4</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>101498</th>
      <td>0.282653</td>
      <td>24</td>
      <td>0</td>
      <td>0.068522</td>
      <td>1400.0</td>
      <td>5</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>101499</th>
      <td>0.922156</td>
      <td>36</td>
      <td>3</td>
      <td>0.934217</td>
      <td>7615.0</td>
      <td>8</td>
      <td>0</td>
      <td>2</td>
      <td>0</td>
      <td>4.0</td>
    </tr>
    <tr>
      <th>101500</th>
      <td>0.081596</td>
      <td>70</td>
      <td>0</td>
      <td>836.000000</td>
      <td>NaN</td>
      <td>3</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>101501</th>
      <td>0.335457</td>
      <td>56</td>
      <td>0</td>
      <td>3568.000000</td>
      <td>NaN</td>
      <td>8</td>
      <td>0</td>
      <td>2</td>
      <td>1</td>
      <td>3.0</td>
    </tr>
    <tr>
      <th>101502</th>
      <td>0.441842</td>
      <td>29</td>
      <td>0</td>
      <td>0.198918</td>
      <td>5916.0</td>
      <td>12</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
  </tbody>
</table>
<p>101503 rows Ã— 10 columns</p>
</div>

In [44]:
pred = clf.predict(real_X_all)

print "Prediction done!"

ValueError: Input contains NaN, infinity or a value too large for dtype('float32').

In [40]:
df = pd.DataFrame(pred, columns=['Probability'])
df['Id'] = df.index + 1

df.head()

df.to_csv(
    'submission_random_forest.csv',
    index=False,
    columns=['Id', 'Probability']
)

print "Submission file saved!"

Submission file saved!

In [21]:
pred = pd.DataFrame()
# pred['Id'] = real_X_all['Id']
pred = clf.predict(real_X_all)

submission = pd.DataFrame({
    "Id": real_data.index,
    "Probability": pred
})

submission.head()

# pred.to_csv(
#     'submission_random_forest.csv',
#     index=True, index_label='Id'
# )

# pred['Survived'] = clf.predict(X_test)
# pred.to_csv('submission_random_forest.csv', index = False)
# 
# print 'Got 70.33% accuracy using Random Forest Classifier'

ValueError: arrays must all be same length